Data Types and Structures Questions

1. What are data structures, and why are they important?

     => Data structur is a way of organizing and storing data that can be       asseced and manuplatd efficencly. data structure is important because they are crucial for writting effcient algorithms and manage large dataset effectively.

2. Explain the difference between mutable and immutable data types with example?
      
      => Mutable datatypes >> mutable datatype can be change after they created.example- list and dictionaries.

      Immutable datatypes >> Immutable datatypes cannot be change after they are created example - Tuples.

3. What are the main differences between lists and tuples in Python?
      
      => The main difference between list and tuple is list are mutable and tuple are immutable.

4. Describe how dictionaries store data?

      => Dictionaries store the data in the form of key value pair in hash table
         keys are immutable and values are mutable.

5. Why might you use a set instead of a list in Python?

     => Because set is unordred collection of uniaue elements and it dose not support duplicate elements.

6. What is a string in Python, and how is it different from a list?
      
      => string is a sequence of character represent and manuplate texual data
         string is different from list by their mutibality and type of data  they store.

7. How do tuples ensure data integrity in Python?

      => Tuple ensure data integerity by their immutibality.

8. What is a hash table, and how does it relate to dictionaries in Python?

      =>A hash table is the underlying data structure that enables Python's dict to perform fast key-based operations.

9. Can lists contain different data types in Python?

      => Yes lists can contain different datatypes in python.

10. Explain why strings are immutable in Python?

      => stringa are immutable in python because it provide safty and predictability, performance optemization and simplicity and consistency.

11. What advantages do dictionaries offer over lists for certain tasks?

      => Dictionaries offer several key advantages over lists for certain tasks, especially when it comes to lookup speed, data organization, and semantic clarity.

12.  Describe a scenario where using a tuple would be preferable over a list?

      => Use a tuple when you need an immutable, fixed-size collection of items that shouldnt change. It is also better for use as dictionary keys or when returning multiple values from a function.

13. How do sets handle duplicate values in Python?

      => In python set automatically eliminate duplicate values.

14. How does the “in” keyword work differently for lists and dictionaries?

      => "in" keyword checks if the value exist in list and for dictionaries it checks that key exist in dictionary not value.

15. Can you modify the elements of a tuple? Explain why or why not?
    
      => We cannot change the elements of tuples because once a tuple created it values cant be change tuple are immutable.

16. What is a nested dictionary, and give an example of its use case?

      => Nested dictionary is dictionary inside dictionary.
        use case -> Storing information about students, where each student has their own dictionary of attributes.

17. Describe the time complexity of accessing elements in a dictionary?

      => Accessing elements in a dictionary in Python has an average time complexity of O(1) — meaning it generally constant time regardless of the dictionary size.

18. In what situations are lists preferred over dictionaries?

      => List perfer over dictioneries when oder matters you dosent want elements in key value pair.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?

      => dictionaries did not guarantee any specific order of items. This means the key-value pairs could appear in a different order than they were inserted — because dictionaries were optimized for fast lookups, not for maintaining order.

20. Explain the difference between a list and a dictionary in terms of data retrieval?

       => In lists we can retrive data using indexing and slicing ex- list[0] but dictionaries retrive data using keys ex- dict[key_name].

Practical Questions:-

1. Write a code to create a string with your name and print it?

In [ ]:
string = "sumeet"
print(string)

sumeet

2. Write a code to find the length of the string "Hello World?

In [ ]:
x ="hello world"
len(x)

11

3. Write a code to slice the first 3 characters from the string "Python Programming"?

In [ ]:
string = "hello world"
string[0:2]

'he'

4. Write a code to convert the string "hello" to uppercase?

In [ ]:
string = "hello"
string.upper()

'HELLO'

5. Write a code to replace the word "apple" with "orange" in the string "I like apple"?

In [ ]:
string = "i like apple"
string.replace("apple","orange")

'i like orange'

6. P Write a code to create a list with numbers 1 to 5 and print it?

In [ ]:
lis_t = [1,2,3,4,5]
print(lis_t)

[1, 2, 3, 4, 5]

7. Write a code to append the number 10 to the list [1, 2, 3, 4]?

In [ ]:
lis_t = [1,2,3,4]
lis_t.append(10)
print(lis_t)

[1, 2, 3, 4, 10]

8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]?

In [ ]:
lis_t = [1,2,3,4,5]
lis_t.remove(3)
print(lis_t)

[1, 2, 4, 5]

9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']?

In [ ]:
lis_t = ['a','b','c','d']
lis_t[1]

'b'

10. Write a code to reverse the list [10, 20, 30, 40, 50]?

In [ ]:
lis_t = [10,20,30,40,50]
lis_t.reverse()
print(lis_t)

[50, 40, 30, 20, 10]

11. Write a code to create a tuple with the elements 100, 200, 300 and print it?

In [ ]:
tuple_1 = (100,200,300)
print(tuple_1)

(100, 200, 300)

12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')?

In [2]:
tuple_2 =("red","green","blue","yellow")
tuple_2[1:4]

('green', 'blue', 'yellow')

13. Write a code to find the minimum number in the tuple (10, 20, 5, 15)?

In [ ]:
tuple_3 = (10,20,5,15)
min(tuple_3)

5

14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')?

In [ ]:
tuple_4 = ("dog","cat","rabbit")
tuple_4.index("cat")

1

15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it?

In [ ]:
tuple_5 = ("apple","orange","kiwi")
"kiwi" in tuple_5

True

16.  Write a code to create a set with the elements 'a', 'b', 'c' and print it?

In [ ]:
set_1 = {"a","b","c"}
print(set_1)

{'a', 'b', 'c'}

17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}?

In [ ]:
set_1 = {1,2,3,4,5}
set_1.clear()
print(set_1)

set()

18. Write a code to remove the element 4 from the set {1, 2, 3, 4}?

In [ ]:
set_1 = {1,2,3,4,5}
set_1.remove(4)
print(set_1)

{1, 2, 3, 5}

19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}?

In [ ]:
union1 = {1,2,3}
union2 ={3,4,5}
union1 | union2

{1, 2, 3, 4, 5}

20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}?

In [ ]:
intersection_1 = {1,2,3}
intersection_2 = {2,3,4}
intersection_1 & intersection_2

{2, 3}

21.  Write a code to create a dictionary with the keys "name", "age", and "city", and print it?

In [ ]:
dictonary = {"name":"sumeet","age":22,"city":"dheradun"}
print(dictonary)

{'name': 'sumeet', 'age': 22, 'city': 'dheradun'}

22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}?

In [ ]:
dictonary ={"name":"john","age":25}
dictonary["country"] = "usa"
print(dictonary)

{'name': 'john', 'age': 25, 'country': 'usa'}

23.  Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [ ]:
dictonary = {"name": "Alice", "age": 30}
dictonary["name"]

'Alice'

24.  Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}?

In [ ]:
dict_2 = {'name': 'Bob', 'age': 22, 'city': 'New York'}
dict_2.pop("age")
print(dict_2)

{'name': 'Bob', 'city': 'New York'}

25. . Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}?

In [ ]:
dict3 = {'name': 'Alice', 'city': 'Paris'}
dict3.keys()

dict_keys(['name', 'city'])

26.  Write a code to create a list, a tuple, and a dictionary, and print them all?

In [ ]:
dict4 = {"name": "sumeet", "age": 22}
list5 = ["apple","mango",1,1.5]
tuple5 = (1,2,"akash")
print(dict4)
print(list5)
print(tuple5)

{'name': 'sumeet', 'age': 22}
['apple', 'mango', 1, 1.5]
(1, 2, 'akash')

27.  Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced).?

In [ ]:
list6 =[10,50,40,60,80]
sorted(list6)

[10, 40, 50, 60, 80]

28.  Write a code to create a list with strings and print the element at the third index?

In [ ]:
list6 = ["apple","orange","banana"]
list6[2]

'banana'

29.  Write a code to combine two dictionaries into one and print the result?

In [ ]:
students ={"sumeet","sahil","rahul"}
marks = {80,50,60}
{student:marks for student, marks in zip(students,marks)}

{'sumeet': 80, 'sahil': 50, 'rahul': 60}

30.  Write a code to convert a list of strings into a set ?

In [ ]:
list_ = ["akash", "abhay", "arjun"]
set(list_)

{'abhay', 'akash', 'arjun'}